<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head-admin.ejs' ,{tittle: 'Add Clothe'}) %>
</head>
<body>
    <div style="margin: 3%; position: relative;">
        <a href="/admin/login/<%=userId%>" style="color: #354259; text-decoration: none;"><i data-feather="arrow-left-circle"></i> Back to Home</a>
    </div>
    <div class="container" style="margin-left: 5%; width: 400px;">
        <h1>Clothes OKE</h1>
    <form action="/admin/login/<%=userId%>/addClothe" method="post">
        Image <BR>
        <input type="text" name="imageUrl" value="" placeholder="" class="form-control">
            <div style="color: red;">
                <% if (errors) { %>
                <%=errors.imageUrl %>
                <% } %>
            </div>

        Name <BR>
        <input type="text" name="name" value="" placeholder="" class="form-control">
        <div style="color: red;">
            <% if (errors) { %>
            <%=errors.name %>
            <% } %>
        </div>

        Type<BR>
        <select name="type" id="" class="form-control">
            <option value="" hidden>Choose---</option>
            <option value="Kaos" >Kaos</option>
            <option value="Kemeja" >Kemeja</option>
            <option value="Jas" >Jas</option>
            <option value="Jaket" >Jaket</option>
        </select>
        <div style="color: red;">
            <% if (errors) { %>
            <%=errors.type %>
            <% } %>
        </div>

        Stock <BR>
        <input type="number" name="stock" value="" placeholder="" class="form-control">
        <div style="color: red;">
            <% if (errors) { %>
            <%=errors.stock %>
            <% } %>
        </div>

        Price <BR>
        <input type="number" name="price" value="" placeholder="" class="form-control">
        <div style="color: red;">
            <% if (errors) { %>
            <%=errors.price %>
            <% } %>
        </div>

        Status<BR>
        <select name="status" id="" class="form-control">
            <option value="" hidden>----Choose-----</option>
            <option value="ReadyStock" >ReadyStock</option>
            <option value="OutOfStock" >OutOfStock</option>
        </select>
        <div style="color: red;">
            <% if (errors) { %>
            <%=errors.status %>
            <% } %>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Add Clothe</button>
    </form>
    </div>
    <script>
        feather.replace()
    </script>
</body>
</html>