<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head-admin.ejs' ,{tittle: 'All User'}) %>
</head>
<body>
    <div style="margin: 3%; position: relative;">
        <a href="/admin/login/<%=userId%>" style="color: #354259; text-decoration: none;"><i data-feather="arrow-left-circle"></i> Back to Home</a>
    </div>
    <div class="container">
        <h1>Clothes Oke</h1>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach((x, i)=>{ %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%=x.username%></td>
                        <td><%=x.email%></td>
                        <td><%=x.role%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script>
        feather.replace()
    </script>
</body>
</html>