<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Clothes</title>
</head>
<body>
    <h1>Clothes OKE</h1>

    <% if(result1.length === 0) { %>

            Name    : -
            <br>
            Role    : -
            <br>
            Role    : - 
            <br> 
            Email   : -
            <br><br>

            <div>
                <a href="/admin/login/<%=userId%>/addProfil"><button>Add Profile</button></a>
                <a href="/admin/login/<%=userId%>/addClothe"><button>add Clothes</button></a>
                <a href="/admin/login/<%=userId%>/allUser"><button>All User</button></a>
            </div><br>
    <% } %>

    <% if(result1.length > 0) { %>
            Name    : <%=result1[0].genderName%>
            <br>
            Role    : <%=result1[0].User.role%>
            <br>
            Email   : <%=result1[0].User.email%>
            <br><br>

        <div>
            <a href="/admin/login/<%=userId%>/editProfil"><button>Edit Profile</button></a>
            <a href="/admin/login/<%=userId%>/addClothe"><button>add Clothes</button></a>
            <a href="/admin/login/<%=userId%>/allUser"><button>All User</button></a>
            <a href="/"><button>Log Out</button></a>
        </div><br>
    <% } %>

    <form action="/admin/login/<%=userId%>" method="get">

        <div>
            <input type="text" name="name">
            <button type="submit">Search</button>
        </div><br><br>

    </form>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Picture</th>
            <th>Price</th>
            <th>Name</th>
            <th>Type</th>
            <th>Total Stock</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <% result2.forEach(x=>{ %>
            <tr>
                <th><%=x.id%></th>
                <th><img src="<%=x.imageUrl%>"style="width: 200px; height:200px" alt="picture cloth"></th>
                <th><%=x.changeFormat(x.price)%></th>
                <th><%=x.name%></th>
                <th><%=x.type%></th>
                <th><%=x.stock%></th>
                <th><%=x.statusSell(x.status)%></th>
                <th>
                    <a href="/admin/login/<%=userId%>/editClothe/<%=x.id%>"><button>Edit</button></a>
                    <a href="/admin/login/<%=userId%>/deleteClothe/<%=x.id%>"><button>Delete</button></a>
                    <a href="/admin/login/<%=userId%>/stockPlus/<%=x.id%>"><button>+Stock</button></a>
                    <a href="/admin/login/<%=userId%>/stockMinus/<%=x.id%>"><button>-Stock</button></a>
                </th>
            </tr>
        <% }) %>
    </table>
</body>
</html>